body, header, h1, h2, h5, ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

header{
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  display: flex;
}

footer {
  background-color: rgb(54, 54, 54);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header > h1 {
  font-family:" Open Sans,sans-serif";
  margin-left: 18%;
  padding-top: 13px;
}

.router-link-exact-active[data-v-938b83b0] {
  color: black;
}

article, form, main > section {
  background-color: #fff;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

article {
  text-align: center;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  width: 23%;
  display: inline-table;
  margin: 5%;
  padding-top: 10px;

}

article > a >img {
  max-height: 200px;
  max-width: 100%;
}

article > a > h3, article > a > p {
  padding: 0 5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
}

article > a > p {
  font-size: 12px;
}

a{
  text-decoration: none;
  color: #000;
}

form {
  padding: 20px 5%;
}

form.aggiungi{
  margin-top: 20px;
}

hr{
  height: 2px;
  border: 0;
  border-top: 2px solid #e7e7e7;
  padding: 0;
}

form h2, main > section > h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0 0 20px;
}

section > img {
  width: 15%;
  display: inline;
}

section > h3{
  display: inline-block;
  margin-left: 42%;
}

section > div{
  display: inline-block;
}

section > div > h3{
  font-size: 20px;
  margin: 0;
  padding-left: 140px;
  margin-bottom: 12px;
}

section > div > p{
  margin: 0px;
  padding-left: 140px;
}

section > div#price{

  font-size: 30px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  
}


form ul {
  list-style: none;
  width: 80%;
  margin: 0 10%;
}

form ul li {
  margin-bottom: 20px;
}

form ul li:last-child {
  text-align: right;
}

form ul li label {
  display: inline-block;
  width: 50%;
}

form ul li input:not([type="submit"]) {
  width: 50%;
  box-sizing: border-box;
}

form ul li input[type="submit"]:hover {
  cursor: pointer;
  color:rgb(219, 69, 83);
}

form.modulo-ricerca{
  padding-left: 20px;
  width: 40%;
}

input#search{
  border: none;
  border-bottom: groove;
  width: 70%;
  font-size: 20px;
}

input#submit{
  margin-left: 5px;
}

img.logout{
  max-height: 40px;
  max-width: 100%;
  padding: 14px;
}

img.login{
  max-height: 40px;
  max-width: 100%;
  padding: 14px;
}

img.shop{
  max-height: 45px;
  max-width: 100%;
  padding: 11px;
  margin-left: 28%;
}

section{
  margin: 40px 10% 10px 10%;
}

section > div > h2{
  font-family: 'Poppins';
  font-weight: bold;
  display: inline-block;
  margin: auto;
}

div#rated{
  display: inline-block;
  padding-left: 40px;
  
}

div#gameName{
  display: block;
}

div#platform{
  color: #979595;
  margin: 0px;
  padding: 0px;
}

div#add{
  display:  block;
  text-align: center;
}

section > div#add > img {
  max-height: 410px;
  max-width: 290px;
  display: inline-block;
  margin: auto;
  padding-top: 20px;
}

section > a {
  float: right;
}

div#addShop{
  display: inline-block;
  margin-left: 25%;

}


div#addShop > h3{
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  font-family: monospace
}

div#addShop > button{

  padding: 10px;
  display: block;
  color: white;
  background-color: red;
  text-align: center;

}

div#kind{
  display: block;
  padding-top: 20px;
}

button#shop{
  display: inline-block;
  margin-left: 17px;
}

div#addShop >div#kind > p{
  display: inline-block;
}
 
div#addShop > div#kind > h4{
   display: inline-block;
}

div#addShop > p{
 display: inline-block;
}

div#addShop > h4{
  display: inline-block;
}

h3{
  text-align: center;
  font-size: 30px;
}

iframe{
  width:1280px;
  height:720px;
  
} 

@media (max-width: 700px){

  iframe{
    width:300px;
    height:200px;
    
  }
  article {
    width: 100%;
    margin: 0;
  }
  img.login {
    max-height: 33px;
    max-width: 100%;
    padding-top: 33px;
    padding-right: 0px;
  }
  img.shop{
    padding: 26px 0px 0px 0px;
    margin: 0;
  }
  form.modulo-ricerca {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    width: 49%;
  }
  header > h1 {
    margin-left: 2%;
    padding-bottom: 10px;
    width: 23%;
  }
  div#addShop {
    margin: 0;
  }
  div#rated{
    padding: 0;
  }
  img.logout{
    padding-top: 28px;
    padding-left: 5px;
  }
  section > div > p {
    padding: 0;
    text-align: center;
  }
  section > div > h3 {
    font-size: 17px;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
  }
  section > div {
    display: block;
  }
  section > img {
    padding-left: 36%;
    width: 28%;
  }
  section > div#price {
    display: block;
  }
  button#shop {
    margin-left: 38%;
  }
}